
</div>
<div class="footer-padding"></div>
  <div class="footer" id="footer">
    <footer class="white-section" id="footer">
      <a class="bottom-right" href="#top">Back to top</a>
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright Daily Journal</p>
    </footer>
  </div>
</div>
</body>
</html>
