<%- include("partials/header"); -%>
<div class="container">
  <h1>Contact</h1>
  <p><%= contactContent %></p>
  <p>Phone: 84738383</p>
  <p>Location: 45 sector Gurugram</p>
  <p>Follow us on our Social media handles</p>
</div>
<%- include("partials/footer"); -%>
